<div class="loginContain">
  <h2>Login</h2>

  <form action="" id="loginForm">
    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Iniciar sesión</button>
    <a href="https://ecommerce-api-0cf4.up.railway.app/api/login/forgot-password-email">¿Olvidaste tu contraseña?</a>
  </form>
  <a href="https://ecommerce-api-0cf4.up.railway.app/api/login/github">Ingresar con GitHub</a>
  <button onclick="window.location.href='https://ecommerce-api-0cf4.up.railway.app/api/register'" class="registerBtn">Registrarse</button>
  

</div>
<script>
  const form = document.getElementById('loginForm')

  form.addEventListener('submit', e => {
    e.preventDefault()

    const data = new FormData(form)
    const obj = {}

    data.forEach((value, key) => (obj[key] = value))

    const url = 'https://ecommerce-api-0cf4.up.railway.app/api/login'
    const headers = {
      'Content-type': 'application/json',
  }
  const method = 'POST'
  const body = JSON.stringify(obj)

  fetch(url, {
    headers,
    method,
    body,
  })
    .then(response => response.json())
    .then(() => {
        window.location.href = 'https://ecommerce-api-0cf4.up.railway.app/api/dbProducts?limit=9';
      })
    .catch(error => console.log(error))
})
</script>